@import "null.css";

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #170E28;
    color: #FFEDED;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    height: 70px;
    padding: 15px 0;
}

.main { }
.main__container { }


.describ { 
    /* position: relative; */
    display: flex;
}
.describ__content { 
    max-width: 550px;
    margin-top: 50px;
}
.describ__content > *:not(:last-child){
    margin-bottom: 40px;
}
.describ__heading { }
.heading { 
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}
.describ__text { 
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.015em;
}
.describ__button { 
    text-decoration: none;
    background-color: #F2EA7E;
    font-weight: 600;
    font-size: 16px;
    color: #0D0D0D;
    padding: 20px 40px;
}
.btn { 
    width: 250px;
    height: 55px;
    border-radius: 5px;
    transition: all .3s;
}
.btn:hover{
    cursor: pointer;
    background-color: #F6F1A7;
}

.describ__parallax{
   
}
.parallax__layer{
    
}
.parallax__layer img{
    position: absolute;
    top: 50px;
    right: 30px;
    object-fit: cover;
}
.stars{
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.rocket{
    animation-name: fly;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-delay: 2s; */
}
.main__manual { }
.manual { 
    margin-top: 80px;
    margin-bottom: 60px;
}
.manual__name { 
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.manual__name > * {
    margin-right: 15px;
}
.name { 
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: white;
}
.manual__points { 
    display: flex;
    margin: 0 -48px;
}
.manual__point { 
    margin: 0 24px;
    display: flex;
    align-items:flex-start;
}
.manual__point img{
    margin-right: 20px;
}

@keyframes move{
    0%{
        right: 30px;
        top: 50px;
    }
    100%{
        right: 40px;
        top: 60px;
    }
}
@keyframes fly{
    0%{
        top: 40px;
        right: 20px;
    }
    100%{
        top: 0px;
        right: 10px ;
    }
}

@media screen and (max-width: 1090px){
    .parallax__layer{
        z-index: -1;
    }
}